<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <meta name='author' content='brunomolteni'>
    <meta name="google-site-verification" content="-AGNTgOfnrbr0AVZRglT64J58qInrLJ0gm6RvGKw9gY">

    <block name='meta'>
      <title>Viaje Terrenal</title>
      <meta hid='description' name='description' content='Blog sobre viajes y la vida misma.'>
    </block>

    <link rel='stylesheet' href='/styles.css'>
  </head>

  <body role='document' id="barba-wrapper">
    <main role='main' class="barba-container">
      <block name='content'></block>
      <a class="full-width-link" href="//www.facebook.com/ViajeTerrenal/" target="_blank">Seguinos en Facebook <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 266.9 266.9"><path fill="#3C5A99" d="M248 262.3c8 0 14.3-6.4 14.3-14.2V18.8c0-7.8-6.4-14.2-14.2-14.2H18.8C11 4.6 4.6 11 4.6 18.8v229.3c0 7.8 6.4 14.2 14.2 14.2h229.3z"/><path fill="#FFF" d="M182.4 262.3v-99.8H216l5-38.9h-38.5V98.8c0-11.3 3.1-19 19.3-19h20.6V45c-3.6-.4-15.8-1.5-30-1.5-29.7 0-50 18.1-50 51.4v28.7h-33.6v38.9h33.5v99.8h40.2z"/></svg></a>
    </main>
    <block name='javascript'>
      <script src='/js/main.js' defer></script>
    </block>
    <if condition="production">
      <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-107272968-1', 'auto');
        ga('require', 'urlChangeTracker');
        ga('require', 'pageVisibilityTracker');
        ga('require', 'maxScrollTracker');
        ga('send', 'pageview');
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      <script src='/js/autotrack.js' defer></script>
    </if>
    <div id="fb-root"></div>
  </body>

</html>
