<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <meta name='author' content='brunomolteni'>
    <meta name="google-site-verification" content="-AGNTgOfnrbr0AVZRglT64J58qInrLJ0gm6RvGKw9gY">

    <block name='meta'>
      <title>Viaje Terrenal</title>
      <meta name='description' content='Esto es Viaje Terrenal, un espacio que nació de las ganas de escribir, de retratar y compartir lo que vivimos y experimentamos al viajar ✈.'>
    </block>

    <link rel='stylesheet' href='/styles.css'>
  </head>

  <body role='document' id="barba-wrapper">
    <main role='main' class="barba-container">
      <block name='content'></block>
      <a class="full-width-link" href="//www.facebook.com/ViajeTerrenal/" target="_blank">Seguinos en Facebook <svg width="20" height="20" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" aria-label="Facebook" role="img" viewBox="0 0 512 512"><rect width="512" height="512" fill="#3b5998" rx="15%"/><path fill="#fff" d="M330 512V322h64l9-74h-73v-47c0-22 6-36 37-36h39V99c-7-1-30-3-57-3-57 0-95 34-95 98v54h-64v74h64v190z"/></svg></a>
    </main>
    <block name='javascript'>
      <script src='/js/main.js' defer></script>
    </block>
    <if condition="production">
      <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-107272968-1', 'auto');
        ga('require', 'cleanUrlTracker', {
          stripQuery: true,
          trailingSlash: 'remove'
        });
        ga('require', 'urlChangeTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'pageVisibilityTracker', {
          visibleMetricIndex: 2,
        });
        ga('require', 'maxScrollTracker', {
          maxScrollMetricIndex: 1,
        });
        ga('send', 'pageview');
      </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      <script src='/js/autotrack.js' defer></script>
    </if>
    <div id="fb-root"></div>
  </body>

</html>
