<extends src='_layout.html'>
  <block name='content'>

    <include src='_header.html'></include>
    <section class="post">

      <img src="{{item.heroImage.file.url}}" class="hero-image"/>

      <div class="headline">
        <time class="tiny">{{ item.publishDate }}</time>
        <h1>{{ item.title }}</h1>
      </div>

      <article class="copy" md>
        {{ item.body }}
      </article>

      <h2>Deja tus dudas y comentarios</h2>

      <div class="fb-comments" id="fb-comments" data-href="http://viajeterrenal.com/blog/{{ item.slug }}" data-numposts="10" width="500"></div>

    </section>


    <nav>
      <if condition="item.adjacent.prev">
        <a href="/blog/{{item.adjacent.prev.slug}}" class="prev">
          <img src="{{item.adjacent.prev.heroImage.file.url}}" />
          <div>
            <h3>{{ item.adjacent.prev.title }}</h3>
            <time class="tiny">{{ item.adjacent.prev.publishDate }}</time>
            <p>{{ item.adjacent.prev.description }}</p>
          </div>
        </a>
      </if>
      <if condition="item.adjacent.next">
        <a href="/blog/{{item.adjacent.next.slug}}" class="next">
          <img src="{{item.adjacent.next.heroImage.file.url}}" />
          <div>
            <h3>{{ item.adjacent.next.title }}</h3>
            <time class="tiny">{{ item.adjacent.next.publishDate }}</time>
            <p>{{ item.adjacent.next.description }}</p>
          </div>
        </a>
      </if>
    </nav>
    <a href="/blog" class="full-width-link">Ver todos los artículos</a>
    <a href="//www.instagram.com/viajeterrenal" class="full-width-link" target="_blank">Seguinos en Instagram <include src='_logo-ig.html'></include></a>
  </block>
</extends>
