@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src:  url("font/avenir-400.woff2") format("woff2"),
        url("font/avenir-400.woff") format("woff");
  font-display: swap;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}
h1 {
  font-size: 2em;
}
h2{
  font-size: 1.8em;
}
h3{
  font-size: 1.6em;
}
h4{
  font-size: 1.4em;
}
